.xAxisCategoriesShownCount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.fetchedRowCount {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5em;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.label {
  align-self: center;
  flex-shrink: 0;
  margin-right: 0.5em;
}

.numberInput input {
  width: 5.5em;
}
