.measureOrDimensionName {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: var(--large-font-size);
  text-overflow: ellipsis;
}

.icon {
  color: rgb(0, 0, 0);
  margin-left: 0.2rem;
  visibility: hidden;

  &:hover {
    cursor: pointer;
  }
}

.filterInput {
  flex-basis: 100%;
  flex-shrink: 0;
}
