.triggerGroupListItem {
  align-items: center !important;
  display: flex !important;

  .triggerGroupText {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .triggerCountBadge {
    flex-grow: 0;
    flex-shrink: 0;
  }
}
