.uiHintsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 100%;

  .uiHints {
    color: rgb(140, 140, 140);
    font-size: 24px;
  }

  .smallText {
    color: rgb(180, 180, 180);
    font-size: 14px;
    margin-top: 5px;
  }
}
