.userMenu {
  font-family: var(--brand-font-family);
  font-size: var(--app-navigation-font-size);
  padding-right: 30px;

  .userIcon {
    background-image: url('../../../assets/images/icons/header/user_icon.svg');
  }
}
