@import 'variables.css';
@import 'semantic-ui.scss';
@import 'ag-grid.scss';
@import 'leaftlet.scss';
@import 'react-resizable.scss';

body {
  background-image: radial-gradient(50vw, rgb(245, 245, 245), rgb(255, 255, 255));
  font-family: var(--brand-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--brand-font-weight);
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

* {
  letter-spacing: 0.2px;
}

.react-grid-item.react-grid-placeholder {
  background: none;
  border: 6px dashed rgb(0, 0, 0);
  opacity: 0.3;
}
