:root {
  --base-font-size: calc(1vw);
  --brand-color-1: rgb(26, 118, 199);
  --transparent-brand-color-1: rgb(26, 118, 199, 0.1);
  --brand-color-2: rgb(87, 148, 58);
  --brand-logo-font-family: 'Raleway', sans-serif;
  --brand-logo-font-weight: 100;
  --brand-font-family: 'Arimo', sans-serif;
  --brand-font-weight: 400;
  --primary-text-color: rgb(0, 0, 0);
  --primary-text-color-on-hover: var(--brand-color-1);
  --secondary-text-color: rgb(255, 255, 255);
  --secondary-text-color-on-hover: rgb(2, 208, 249);
  --header-background-color: var(--brand-color-1);
  --header-foreground-color: var(--secondary-text-color);
  --app-title-font-size: 2rem;
  --app-navigation-font-size: 1rem;
  --large-font-size: 1rem;
  --body-font-size: 0.9rem;
  --small-font-size: 0.7rem;
  --small-font-color: rgb(120, 120, 120);
  --drop-zone-font-color: rgb(120, 120, 120);
  --notification-z-index: 900;
  --topmost-z-index: 2000;
  --on-top-of-map-z-index: 1000;
  --data-explorer-page-left-pane-default-width: 17%;
  --data-explorer-page-right-pane-default-width: 17%;
  --dashboards-page-left-pane-default-width: 22%;
  --dashboards-page-right-pane-default-width: 22%;
  --triggers-page-left-pane-default-width: 22%;
  --dialog-header-and-footer-background-color: rgba(230, 230, 230);

  font-size: var(--base-font-size);
}
