.chartIcons {
  display: flex;
  flex-wrap: wrap;

  .abstractChartIcon {
    background-repeat: no-repeat;
    background-size: 1.9rem 1.9rem;
    display: inline-block;
    height: 2rem;
    margin-bottom: 0.2rem;
    margin-right: 0.2rem;
    width: 2rem;
  }

  .columnChartIcon {
    @extend .abstractChartIcon;

    background-image: url('../../../../../assets/images/icons/chart/column_chart_icon.svg');

    &.selected,
    &:hover,
    &:focus {
      background-image: url('../../../../../assets/images/icons/chart/onhover/column_chart_icon_on_hover.svg');
    }
  }

  .barChartIcon {
    @extend .abstractChartIcon;

    background-image: url('../../../../../assets/images/icons/chart/bar_chart_icon.svg');

    &.selected,
    &:hover,
    &:focus {
      background-image: url('../../../../../assets/images/icons/chart/onhover/bar_chart_icon_on_hover.svg');
    }
  }

  .areaChartIcon {
    @extend .abstractChartIcon;

    background-image: url('../../../../../assets/images/icons/chart/area_chart_icon.svg');

    &.selected,
    &:hover,
    &:focus {
      background-image: url('../../../../../assets/images/icons/chart/onhover/area_chart_icon_on_hover.svg');
    }
  }

  .lineChartIcon {
    @extend .abstractChartIcon;

    background-image: url('../../../../../assets/images/icons/chart/line_chart_icon.svg');

    &.selected,
    &:hover,
    &:focus {
      background-image: url('../../../../../assets/images/icons/chart/onhover/line_chart_icon_on_hover.svg');
    }
  }

  .donutChartIcon {
    @extend .abstractChartIcon;

    background-image: url('../../../../../assets/images/icons/chart/donut_chart_icon.svg');

    &.selected,
    &:hover,
    &:focus {
      background-image: url('../../../../../assets/images/icons/chart/onhover/donut_chart_icon_on_hover.svg');
    }
  }

  .pieChartIcon {
    @extend .abstractChartIcon;

    background-image: url('../../../../../assets/images/icons/chart/pie_chart_icon.svg');

    &.selected,
    &:hover,
    &:focus {
      background-image: url('../../../../../assets/images/icons/chart/onhover/pie_chart_icon_on_hover.svg');
    }
  }

  .bubbleChartIcon {
    @extend .abstractChartIcon;

    background-image: url('../../../../../assets/images/icons/chart/bubble_chart_icon.svg');

    &.selected,
    &:hover,
    &:focus {
      background-image: url('../../../../../assets/images/icons/chart/onhover/bubble_chart_icon_on_hover.svg');
    }
  }

  .scatterPlotIcon {
    @extend .abstractChartIcon;

    background-image: url('../../../../../assets/images/icons/chart/scatter_plot_icon.svg');

    &.selected,
    &:hover,
    &:focus {
      background-image: url('../../../../../assets/images/icons/chart/onhover/scatter_plot_icon_on_hover.svg');
    }
  }

  .candlestickChartIcon {
    @extend .abstractChartIcon;

    background-image: url('../../../../../assets/images/icons/chart/candlestick_chart_icon.svg');

    &.selected,
    &:hover,
    &:focus {
      background-image: url('../../../../../assets/images/icons/chart/onhover/candlestick_chart_icon_on_hover.svg');
    }
  }

  .boxPlotIcon {
    @extend .abstractChartIcon;

    background-image: url('../../../../../assets/images/icons/chart/box_plot_icon.svg');

    &.selected,
    &:hover,
    &:focus {
      background-image: url('../../../../../assets/images/icons/chart/onhover/box_plot_icon_on_hover.svg');
    }
  }

  .radarChartIcon {
    @extend .abstractChartIcon;

    background-image: url('../../../../../assets/images/icons/chart/radar_chart_icon.svg');

    &.selected,
    &:hover,
    &:focus {
      background-image: url('../../../../../assets/images/icons/chart/onhover/radar_chart_icon_on_hover.svg');
    }
  }

  .heatmapIcon {
    @extend .abstractChartIcon;

    background-image: url('../../../../../assets/images/icons/chart/heatmap_icon.svg');

    &.selected,
    &:hover,
    &:focus {
      background-image: url('../../../../../assets/images/icons/chart/onhover/heatmap_icon_on_hover.svg');
    }
  }

  .dataTableIcon {
    @extend .abstractChartIcon;

    background-image: url('../../../../../assets/images/icons/chart/data_table_icon.svg');

    &.selected,
    &:hover,
    &:focus {
      background-image: url('../../../../../assets/images/icons/chart/onhover/data_table_icon_on_hover.svg');
    }
  }

  .mapIcon {
    @extend .abstractChartIcon;

    background-image: url('../../../../../assets/images/icons/chart/map_icon.svg');

    &.selected,
    &:hover,
    &:focus {
      background-image: url('../../../../../assets/images/icons/chart/onhover/map_icon_on_hover.svg');
    }
  }

  .statisticIcon {
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 2rem;

    &.selected,
    &:hover,
    &:focus {
      color: var(--brand-color-1);
    }
  }
}
